extends ./_layouts/_layout-main.pug

block vars
  - var title = 'Status - KunRuch Creations'
  - var description = 'Displays monitoring information of all sites of KunRuch Creations via UptimeRobot'

block content
  #app

block scripts
  script(src='/scripts/main.js')
