@import "vars";
@import "mmcss/src/mm";

.main {
  min-height: 600px;
}

.uptime-item-head {
  margin-top: 4rem;

  .media {
    float: left;
  }
  button {
    float: right;
    margin-top: 14px;
    font-size: 12px;
    line-height: 2;
    color: $color-text-muted;
  }

  &:after {
    @extend .clearfix;
  }
}

.entry-title {
  margin-top: 0;
  margin-bottom: 3px;

  .entry-meta {
    font-weight: 300;
    font-size: 14px;
    margin-left:8px;
  }
}

.entry-meta strong {
  font-weight: 500;
}

.thumbnail-small {
  background-color: #e74c3c;
  margin-top: 3px;
}

.thumbnail-small.up {
  background-color:#099;
}

.thumbnail-rounded .icon {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 25%;
}

.bar-chart {
  margin-top: 1.5em;
}

.uptime {
  padding: 1em 0;
  font-size: 90%;
  margin-top: 0.5em;
  text-align: center;
  color: $color-text-muted;

  h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 1px;
    margin:0 0 0.5em;
    line-height: 68px;
  }

  .text-large {
    font-size: 180%;
    color: $color-primary;
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-enter {
  transform: translateY(50%);
  opacity: 0;
}

 .slide-fade-leave-active {
   transition: all .2s ease;
 }

.slide-fade-leave-active {
  opacity: 0;
}
